---
import GitHub from "@/components/icons/GitHub.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import Link from "@/components/icons/Link.astro";
import ReactIcon from "@/components/icons/React.astro";
import NodeIcon from "@/components/icons/Node.astro";
import MongoIcon from "@/components/icons/MongoDb.astro";
import JavaScriptIcon from "@/components/icons/JavaScript.astro";
import TypeScriptIcon from "@/components/icons/TypeScript.astro";
import FirebaseIcon from "@/components/icons/Firebase.astro";
import ChakraIcon from "@/components/icons/Chackra.astro";
import HTMLIcon from "@/components/icons/HTML.astro"
import CSSIcon from "@/components/icons/CSS.astro" 

const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-gradient-to-r from-[#61DAFB]/80 to-[#61DAFB] text-gray-900 ring-1 ring-[#61DAFB]/30",
    icon: ReactIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-gradient-to-r from-[#38BDF8]/80 to-[#0ea5e9] text-white ring-1 ring-[#0ea5e9]/30",
    icon: Tailwind,
  },
  NODE: {
    name: "Node.js",
    class: "bg-gradient-to-r from-[#68A063]/80 to-[#026e00] text-white ring-1 ring-[#026e00]/30",
    icon: NodeIcon,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-gradient-to-r from-[#47A248]/80 to-[#13aa52] text-white ring-1 ring-[#13aa52]/30",
    icon: MongoIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-gradient-to-r from-[#F7DF1E]/90 to-[#F7DF1E] text-black ring-1 ring-[#F7DF1E]/30",
    icon: JavaScriptIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-gradient-to-r from-[#3178C6]/80 to-[#3178C6] text-white ring-1 ring-[#3178C6]/30",
    icon: TypeScriptIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-gradient-to-r from-[#FFCA28]/80 to-[#FFA000] text-black ring-1 ring-[#FFA000]/30",
    icon: FirebaseIcon,
  },
  CHAKRA: {
    name: "Chakra",
    class: "bg-gradient-to-r from-[#319795]/80 to-[#2C7A7B] text-white ring-1 ring-[#2C7A7B]/30",
    icon: ChakraIcon,
  },
  HTML: {
    name: "HTML",
    class: "bg-gradient-to-r from-[#E34F26]/80 to-[#E44D26] text-white ring-1 ring-[#E44D26]/30",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-gradient-to-r from-[#1572B6]/80 to-[#2965F1] text-white ring-1 ring-[#2965F1]/30",
    icon: CSSIcon,
  },
};;

const PROJECTS = [
  {
    title: "PokeStore",
    description:
    "PokeStore es una plataforma de comercio electrónico para comprar productos de Pokémon, con funciones de exploración, wishlist, reseñas y gestión administrativa de productos y pedidos.", 
    github: "https://https://github.com/canosa92/PokeStore-project",
    image: "/projects/612shots_so.png",
    tags: [TAGS.REACT, TAGS.FIREBASE, TAGS.NODE, TAGS.MONGODB,TAGS.CHAKRA],
  },
  {
    title: "Snake Game",
    description: "Juego clásico de la serpiente implementado con JavaScript puro, HTML5 y CSS.Implementación de lógica de juego,detección de colisiones y puntuación dinamica.",
    link: "https://canosa92.github.io/snake-game/",
    github: "https://github.com/canosa92/snake-game/",
    image: "/projects/78shots_so.png",
    tags: [TAGS.JAVASCRIPT,TAGS.HTML,TAGS.CSS],
  },
  {
    title: "Cronometro",
    description: "Un cronómetro web moderno e interactivo desarrollado con HTML, CSS y TypeScript. Incluye animaciones fluidas, modos claro y oscuro, y un diseño responsivo optimizado para dispositivos móviles y pantallas de escritorio.",
    link: "https://canosa92.github.io/cronometro/",
    github: "https://www.github.com/canosa92/cronometro/",
    image: "/projects/857shots_so.png",
    tags: [TAGS.TYPESCRIPT],
  },
];
---
<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link, github }) => (
  <article class="relative rounded-2xl bg-gradient-to-br from-gray-100 to-gray-50 shadow-lg transition-transform duration-500 hover:scale-[1.02] hover:shadow-xl dark:from-gray-800 dark:to-gray-900 p-6">
    <div class="flex flex-col lg:flex-row gap-8">
      {/* Imagen del proyecto */}
      <div class="w-full lg:w-1/2 overflow-hidden rounded-xl shadow-md">
        <img
          src={image}
          alt={title}
          class="h-full w-full object-cover transition-transform duration-500 hover:scale-110"
          loading="lazy"
        />
      </div>

      {/* Contenido del proyecto */}
      <div class="flex flex-col justify-between lg:w-1/2">
        <div>
          <h3 class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <p class="mb-6 text-base leading-relaxed text-gray-700 dark:text-gray-400">
            {description}
          </p>
          {/* Tags del proyecto */}
          <div class="flex flex-wrap gap-3">
            {tags.map((tag) => (
              <span
                class={`inline-flex items-center gap-x-2 rounded-full px-4 py-1.5 text-sm font-semibold shadow-md ${tag.class}`}
              >
                {tag.icon && (
                  <tag.icon
                    class="w-5 h-5"
                    aria-label={`Icono de ${tag.name}`}
                  />
                )}
                {tag.name}
              </span>
            ))}
          </div>
        </div>

        {/* Botones de acciones */}
        <div class="mt-8 flex gap-4">
          {github && (
            <a
              href={github}
              class="flex items-center justify-center gap-2 bg-gray-800 hover:bg-gray-700 text-white rounded-lg px-4 py-3 text-sm font-medium transition-transform duration-300 focus:ring-4 focus:ring-gray-400"
              aria-label="Ver Código en GitHub"
              target="_blank"
            >
              <GitHub class="w-5 h-5" />
              <span>Ver Código</span>
            </a>
          )}
          {link && (
            <a
              href={link}
              target="_blank"
              class="flex items-center justify-center gap-2 bg-yellow-500 hover:bg-yellow-400 text-white rounded-lg px-4 py-3 text-sm font-medium transition-transform duration-300 focus:ring-4 focus:ring-yellow-300"
              aria-label="Ver Demo del Proyecto"
            >
              <Link class="w-5 h-5" />
              <span>Ver Demo</span>
            </a>
          )}
        </div>
      </div>
    </div>
  </article>
))}
</div>
